html, body {
 margin: 0;
 padding: 0;
 font-family: 'Raleway', times;
 width:100%;
}

ul {
	padding: 0 10% 0 10%;
}

a {
	padding: 0 15px 0 15px;
}

#headers {
	background-color: lightgray;
	height: 80px;
}

#title {
	padding-left: 5%;
	height: 20px;
}

#subtitle {
	padding: 0 10% 0 10%;
	height: 30px;
	width: 100%;
	display: inline-block;
}

#subsubtitle {
	width: 50%;
	display: inline-block;
}

#links {
	padding-left: 20%;
	height: 30px;
	width: 50%;
	display: inline-block;
}

#project-title {
	padding-left: 11%;
}

#pro {
	margin-bottom: 0;
}

#list {
	margin-top: 0;
}

#blackjack {
	margin-top: 0;
}

.project {
	height: 150px;
	width: 100%;
	margin: 20px 0 20px 0;
	font-size: 16px;
	background-color: darkgray;
	display: block;
}

.image {
	margin: 7.5px 0 5px 10px;
	height: 135.5px;
	border: solid 2px black;
	border-radius: 25%;
	display: inline-block;
}

.pro_text {
	display:: inline-block;
	width: 77%;
}